/* general styling for error page */
h2 {
  font-size: 130%;
}

br {
  display: block;
  margin-top: 0.5em;
}

#additionalDesc, #actions {
  margin-top: 2em;
}

ul#actions, ul#actions li {
  -moz-margin-start: 0;
  list-style: none;
}


/* custom styling for 'unreachable' error class */
#unreachable :not(.unreachable).unknown, #unreachable :not(.unreachable).untrusted {
  display: none;
}


/* custom styling for 'unknown' error class */
#unknown :not(.unknown).unreachable, #unknown :not(.unknown).untrusted {
  display: none;
}


/* custom styling for 'untrusted' error class */
#untrusted :not(.untrusted).unreachable, #untrusted :not(.untrusted).unknown {
  display: none;
}


/* custom styling for additional special error classes */
p.firstseen, p.samecaexpired,
p.samecavalid, p.differentca {
  display: none;
}

.firstseen p.firstseen, .samecaexpired p.samecaexpired,
.samecavalid p.samecavalid, .differentca p.differentca {
  display: block;
}

#additionalDesc p {
  display: none;
}

#additionalDesc:not([class*="query"]) p:nth-of-type(1) {
  display: block;
}

#additionalDesc p:nth-of-type(n+2) {
  background: left 1px no-repeat;
  min-height: 18px;
  padding-left: 20px;
}

#additionalDesc.querying p:nth-of-type(2) {
  background-image: url(chrome://global/skin/icons/loading_16.png);
  display: block;
}

#additionalDesc.query-trusted p:nth-of-type(3) {
  background-image: url(chrome://global/skin/icons/information-16.png);
  display: block;
}

#additionalDesc.query-untrusted p:nth-of-type(4) {
  background-image: url(chrome://global/skin/icons/error-16.png);
  display: block;
}

#additionalDesc.query-unknown p:nth-of-type(5) {
  background-image: url(chrome://global/skin/icons/warning-16.png);
  display: block;
}
